body {
    background-color: lightblue;
}

.header-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    flex-wrap: nowrap;
}

#dino, #cat, #dog, #All {
    height: 30px;
    margin-right: 25px;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 50.08px;
}

#dino {
    background-color: lightcoral;
}
#cat {
    background-color: lightgreen;
}
#dog {
    background-color: deepskyblue;
}
#All {
    background-color: goldenrod;
}

#pet-cards {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;

}

.card {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid;
    margin-bottom: 10px;
    width: 30%;
    height: auto;
    justify-content: center; 
    align-items: center;
   
}

.pet-type {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.dino,
.cat,
.dog {
    margin-top: auto;
}

.dino {
    background-color: lightcoral;
    width: 100%;
}
.cat {
    background-color: lightgreen;
    width: 100%;
}
.dog {
    background-color: deepskyblue;
    width: 100%;
}

.card img {
    max-width: 75%;
    height: auto;
}